/* FOUNDATION */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: content-box;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* NAVIGATION BAR */

.navigation {
  height: 50px;
  width: 100vw;
  background: red;
  color: white;
  font-family:  Arial, Helvetica, sans-serif;;
}

.navigation > .navigation-container {
  height: inherit;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigation > .navigation-container:hover {
  background: black;
}

.navigation > .navigation-container > .navigation-label {
  margin: 0 20px;
}

/* DROPDOWN */

ul.dropdown {
  display: none;
  position: absolute;
  background: red;
  border: 1px solid red;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdown-hover:hover > ul.dropdown {
  display: block;
}

.dropdown-hover {
  position: relative;
}

ul.dropdown > li {
  margin: 5px 10px;
  width: max-content;
}

ul.dropdown > li:hover {
  color: lightgrey;
}

/* LISTS */

/* li a {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */
/*
li a:hover {
  background-color:#111;
} */

/* MISC */

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column{
  float: left;
  width: 30%;
  padding: 10px;
}

ol {
  list-style-type: circle;
}
#button1 {
  background-color: red;
  color: white;
  border: 2px solid;
  font-size: 25px;
  padding: 12px 28px;
  border-radius: 15px;
}

#button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
  cursor: pointer;
}

button:hover {
  background: red;
}
/*{
  border: 2px solid green;
}*/
